<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <res-ref-name>jdbc/Tourfirm</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VIPLogin</servlet-name>
        <servlet-class>controllers.VIPLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VIPLogin</servlet-name>
        <url-pattern>/viplogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controllers.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lkClient</servlet-name>
        <servlet-class>controllers.lkClientServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lkClient</servlet-name>
        <url-pattern>/lkClient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lkAdmin</servlet-name>
        <servlet-class>controllers.lkAdminServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lkAdmin</servlet-name>
        <url-pattern>/lkAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddEmployer</servlet-name>
        <servlet-class>controllers.AddEmployeeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployer</servlet-name>
        <url-pattern>/addEmpLK</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editLK</servlet-name>
        <servlet-class>controllers.EditLKServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>editLK</servlet-name>
        <url-pattern>/editLK</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewLK</servlet-name>
        <servlet-class>controllers.ViewLKServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewLK</servlet-name>
        <url-pattern>/viewLK</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editEmployees</servlet-name>
        <servlet-class>controllers.EditEmployeeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>editEmployees</servlet-name>
        <url-pattern>/editEmpLK</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>listeners.SessionListener</listener-class>
    </listener>

</web-app>